* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", Arial;
    background: #f9fcfe;
}

.wrap {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1200px;
}

.banner01,
.banner02 {
    width: 100%;
    height: 789px;
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.banner02 {
    height: 433px;
    background: url('../images/banner-02.png');
}


/* 廊桥 */

.lanqiao {
    margin: 40px auto;
    width: 1200px;
    height: 463px;
    position: relative;
}

.lanqiao .video {
    position: absolute;
    left: 0;
    top: 36px;
    width: 620px;
    height: 370px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.lanqiao .describ {
    width: 953px;
    height: 463px;
    float: right;
    background: #f7f7f7;
    padding: 36px 36px 36px 418px;
}

.lanqiao .describ h3 {
    color: #087ac5;
    padding: 15px 0;
    font-size: 30px;
}

.lanqiao .describ p {
    font-size: 14px;
    color: #333;
    text-indent: 28px;
    padding: 20px 0 0;
    line-height: 24px;
}

.lanqiao .describ a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: #e5e5e5;
    color: #999999;
    margin-top: 40px;
    font-size: 14px;
}

.lanqiao .describ a:hover {
    background: #087ac5;
    color: #fff;
}


/* 欣赏 */

.xinshan {
    margin: 40px auto;
    width: 1200px;
}

.xinshan .title,
.tuijian .title {
    text-align: center;
    height: 94px;
}

.xinshan .title .border,
.tuijian .title .border {
    display: inline-block;
    position: relative;
    width: 52px;
    height: 94px;
    border: 1px solid #333;
    /* vertical-align: middle; */
}

.xinshan .title .border .absolute,
.tuijian .title .border .absolute {
    position: absolute;
    height: 60px;
    top: 17px;
    left: -32px;
    z-index: 99;
    background: #f9fcfe;
    padding: 4px 0;
}

.xinshan .title .border .absolute h3,
.tuijian .title .border .absolute h3 {
    color: #087ac5;
    font-size: 30px;
}

.xinshan .title .border .absolute p,
.tuijian .title .border .absolute p {
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
}

.xinshan .title .word,
.tuijian .title .word {
    display: inline-block;
    height: 94px;
    padding: 15px;
    vertical-align: top;
}

.xinshan .title .word p,
.tuijian .title .word p {
    color: #999999;
    font-size: 14px;
    text-align: left;
    padding: 5px 0;
}

.xinshan .title .word hr,
.tuijian .title .word hr {
    border: 0;
    width: 40px;
    height: 2px;
    background: #333;
}

.xinshan .title .word p:first-child,
.tuijian .title .word p:first-child {
    color: #333;
    font-size: 20px;
}

.content {
    width: 1200px;
    margin-top: 40px;
}

.content:after {
    content: '';
    display: table;
    clear: both;
}

.content .content-left {
    float: left;
    width: 755px;
    height: 560px;
}

.content .content-right {
    float: right;
    width: 420px;
    height: 560px;
    background: url('../images/xinshan-04.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.content .content-left .content-sub-1 {
    width: 755px;
    height: 236px;
}

.content .content-left .content-sub-2 {
    width: 755px;
    height: 299px;
    margin-top: 25px;
    background: url('../images/xinshan-03.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.content .content-left .content-sub-1:after {
    content: '';
    display: table;
    clear: both;
}

.content .content-left .content-sub-1 .content-sub-1-left {
    float: left;
    width: 287px;
    height: 236px;
    background: url('../images/xinshan-01.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.content .content-left .content-sub-1 .content-sub-1-right {
    float: right;
    width: 443px;
    height: 236px;
    background: url('../images/xinshan-02.png');
    background-repeat: no-repeat;
    background-position: center center;
}


/* 推荐 */

.tuijian .title .border .absolute {
    background: #f8f8f8;
}

.tuijian-background {
    width: 100%;
    background: #f8f8f8;
    padding: 60px 0;
}

.tuijian {
    width: 1200px;
    margin: 0 auto;
}

.tuijian ul {
    list-style: none;
    width: 100%;
    margin: 40px 0;
}

.tuijian ul:after {
    content: '';
    display: table;
    clear: both;
}

.tuijian ul li {
    width: 293px;
    height: 540px;
    float: left;
    margin-left: 9.33px;
}

.tuijian ul li:first-child {
    margin-left: 0;
    margin-top: 100px;
}

.tuijian ul li:nth-child(3) {
    margin-top: 100px;
}

.tuijian ul li a {
    display: block;
    position: relative;
    width: 293px;
    height: 540px;
}

.tuijian ul li a .img {
    width: 293px;
    height: 540px;
    overflow: hidden;
}

.tuijian ul li a .img img {
    transition: all 0.8s;
}

.tuijian ul li a:hover .img img {
    transform: scale(1.2);
}

.tuijian ul li a .describ {
    position: absolute;
    left: 0;
    top: 0;
    width: 293px;
    height: 540px;
    background: #000;
    opacity: 0;
    color: #fff;
    padding: 60px 40px;
}

.tuijian ul li a:hover .describ {
    opacity: 0.7;
}

.tuijian ul li a .describ p {
    padding: 20px 0;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.tuijian ul li a .describ p:first-child {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
}

.tuijian ul li a .describ p:nth-child(3) {
    height: 300px;
    overflow: hidden;
}

.tuijian ul li a .describ button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}


/* 新闻动态和旅游攻略 */

.news-strategy {
    margin: 0 auto;
    width: 1200px;
    padding: 40px 0 80px;
}

.news-strategy:after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
}

.news-strategy .news {
    width: 50%;
    float: left;
    padding-right: 40px;
}

.news-strategy .strategy {
    width: 50%;
    float: right;
    padding-left: 40px;
}

.news-strategy .news .title,
.news-strategy .strategy .title {
    position: relative;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
    line-height: 30px;
    margin-bottom: 20px;
}

.news-strategy .news .title span,
.news-strategy .strategy .title span {
    color: #333;
    font-size: 18px;
    font-weight: bolder;
}

.news-strategy .news .title a,
.news-strategy .strategy .title a {
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    margin-top: 2px;
}

.news-strategy .news .title a:hover,
.news-strategy .strategy .title a:hover {
    color: #087ac5;
}

.news-strategy .news .title .news-strategy-hx,
.news-strategy .strategy .title .news-strategy-hx {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 34px;
    height: 2px;
    border: 0;
    background: #087ac5;
}

.news-strategy .news ul,
.news-strategy .strategy ul {
    list-style: none;
}

.news-strategy .news ul li,
.news-strategy .strategy ul li {
    width: 100%;
    padding: 10px 0;
}

.news-strategy .news ul li a,
.news-strategy .strategy ul li a {
    display: block;
    width: 100%;
    height: 117px;
    overflow: hidden;
    text-decoration: none;
}

.news-strategy .news ul li a:after,
.news-strategy .strategy ul li a:after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
}

.news-strategy .news ul li a .img,
.news-strategy .strategy ul li a .img {
    float: left;
    width: 181px;
    height: 117px;
    overflow: hidden;
}

.news-strategy .news ul li a .img img,
.news-strategy .strategy ul li a .img img {
    width: 181px;
    height: 117px;
    transition: all 0.8s;
}

.news-strategy .news ul li a:hover .img img,
.news-strategy .strategy ul li a:hover .img img {
    transform: scale(1.2);
}

.news-strategy .news ul li a .describ,
.news-strategy .strategy ul li a .describ {
    float: left;
    width: 379px;
    height: 117px;
    padding: 0 10px 0 25px;
}

.news-strategy .news ul li a .describ p,
.news-strategy .strategy ul li a .describ p {
    color: #999999;
    font-size: 14px;
}

.news-strategy .news ul li a .describ p:first-child,
.news-strategy .strategy ul li a .describ p:first-child {
    color: #333;
    font-size: 16px;
    height: 25px;
    overflow: hidden;
}

.news-strategy .news ul li a:hover .describ p:first-child,
.news-strategy .strategy ul li a:hover .describ p:first-child {
    color: #087ac5;
}

.news-strategy .news ul li a .describ p:nth-child(2),
.news-strategy .strategy ul li a .describ p:nth-child(2) {
    margin: 15px 0;
    height: 40px;
    overflow: hidden;
}


/*底部*/

.footer {
    width: 100%;
    background: #087ac5;
}

.footer .footer-top {
    margin: 0 auto;
    width: 1200px;
    height: 205px;
    position: relative;
    color: #fff;
    font-size: 14px;
    padding: 25px 0;
}

.footer .footer-top:after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
}

.footer .footer-top .word {
    width: 70%;
    float: left;
}

.footer .footer-top .code {
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 20px;
}

.footer .footer-top .word p {
    line-height: 30px;
}

.footer .footer-top .word p:first-child {
    line-height: 55px;
}

.footer .footer-top .word p a {
    color: #fff;
    text-decoration: none;
}

.footer .footer-top .word p a:hover {
    color: #fff;
}


/* .footer .footer-top .word p span {
    color: #4ca12e;
} */

.footer .footer-top .code .weixin,
.footer .footer-top .code .phone {
    display: inline-block;
    text-align: center;
}

.footer .footer-top .code .weixin p,
.footer .footer-top .code .phone p {
    line-height: 30px;
}

.footer .footer-top .weixin {
    margin-right: 10px;
}

.footer .footer-bottom {
    margin: 0 auto;
    width: 1200px;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #999999;
}